.search-container{
    display: flex;
    justify-content: center;
    gap: 10px;

    margin: 40px 0;
}

.search-input{
    font-size: 16px;
    padding: 6px 8px; 
    /* prima chestie - sus si jos, a doua - prin parti */

    width: 80%;
}

.search-button {
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px; 

    width:50px;
}